/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font:
    14px 'Microsoft Yahei',sans-serif,Arial,Verdana
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}



/* style */

.messages {
  font-size: 120%;
  line-height: 30px;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message .messageBody {
 }

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.input {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
